@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
html,
body {
  width: 100%;
}
* {
  box-sizing: border-box;
}
body{       
  max-width: 100%;
  display: flex;  
  flex-direction: column; 
  margin: 0;
  overflow: auto;
}

header {
  background-color: whitesmoke;
  font-family: Roboto, sans-serif;
  color: black;
  flex: 1; 
  display: flex;
  align-items: center;
}

#name {
  flex: 1; 
  display: flex;  
  font-weight: 700;
  width: auto;
  margin: 10px 20px 10px 0;
  font-size: 2.5em;
}
#logo {
  flex: 0.2;
  display: flex;
  width: auto;
  justify-self: right ;
  margin-right: 7px;
  font-size: 2.5em;
  padding-left: 15px;
}
#pics {
  flex: 4;
  display: flex;
}

#searchForm{
  flex: 1;
  display: flex;
  margin-left: 4px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  align-items: center;
  max-width: fit-content;
  padding-right: 10px;
  margin-left: 10px;
  justify-content: space-between;
}

.right span{
  flex: 1;
  margin-bottom: 8px;
}

#button1 {
  margin-right: 5px;
}
#topmost {
  flex: 1;
  display: flex;  
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color: burlywood;
  background-color: slategray;
}

main {
  flex: 1;
  display: flex;
  font-family: 'Merriweather', serif;
}
nav {
  width: 120px;
  height: 14%;
  background-color: lightskyblue;
  margin-right: 10px;
  margin-bottom: 2px;
  border: 1px solid #86c4ba;
}
main nav div {
  text-align: center;
  font-size: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
}
main nav div p {
  margin: 5px;
  font-size: 20px;
  color: rosybrown;
}
#mainContainer {
  flex: 1;   
  color: #595238;
  background-color: #f5f1da;
  margin-right: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column; 
}
#first {
  flex: 1;  
  display: flex;
}
#one-four {
  flex: 1; 
  display: flex;
  flex-direction: column;
}
#one-four > div {
  flex: 50%;
  margin: 15px;
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
  max-height: fit-content;
}
#two-four {
  flex: 1;  
  display: flex;
  flex-direction: column;
}
#two-four > div {
  flex: 50%;
  margin: 15px;
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
  max-height: fit-content;
}

#second {
  flex: 1;
  display: flex;
}
#three-four {
  display: flex;
  flex-direction: column;
}
#three-four > div {
  flex: 50%;
  margin: 15px;
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
  max-height: fit-content;
}
#four-four {
  display: flex;
  flex-direction: column;
}
#four-four > div {
  flex: 50%;
  margin: 15px;
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
  max-height: fit-content;
}

#third {
  flex: 1;
  display: flex;
}
#five-four {
  flex: 1;  
  display: flex;
  flex-direction: column;
}
#five-four > div {
  flex: 50%;
  margin: 15px;
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
  max-height: fit-content;
}
#six-four {
  flex: 1;  
  display: flex;
  flex-direction: column;
}
#six-four > div {
  flex: 50%;
  margin: 15px;
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
  max-height: fit-content;
}
footer {
  display: 1;  
  display: flex;  
  height: 100%;
  display: flex;
  font-family: 'Oswald', sans-serif;
  background-color: #cfefcf;
}
footer div p {
  margin-top: 35px ;   
  padding: 10px;  
  font-style: oblique;
  font-size: 1.5em;
}

.social-media {
  flex: 0.8;
  font-size: 4em;
  margin: 10px;   
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

#forForm{
  flex: 0.35;  
  
  margin-left: 45px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: right;
}

form{
   width: 100%;
}

input[type=email], #subscribe-btn {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit]{
  background-color: lightgreen;
}

#option1 {
  font-size: 0.6em;
}
#option {
  flex: 1;
}
#optionM {
  flex: 1;
  margin: 10px;
  padding: 5px;
  border: 1px solid #005086;
  background-color: #0f4c75;
  color: gold;
  display: flex;
  display: none;
}
#optionM > div {
  flex: 1;
}
#optionF {
  flex: 1;
  margin: 10px;
  padding: 5px;
  border: 1px solid #005086;
  background-color: #0f4c75;
  color: gold;
  display: flex;
  display: none;
}
#optionF > div {
  flex: 1;
}
#optionC {
  flex: 1;
  margin: 10px;
  padding: 5px;
  border: 1px solid #005086;
  background-color: #0f4c75;
  color: gold;
  display: flex;
  display: none;
}
#optionC > div {
  flex: 1;
}

@media screen and (max-width: 750px) {
  #body{
    display: auto;
  }
  #pics{
    display: none;
  }
  #name,#logo{
    font-size: 1.2em;
  }
  #first_main,#second_main,#third_main,#two-four,#four-four,#six-four,
  #instagram, #youtube  {
    display: none;
  }
  #forForm{
    margin-left: 10px;
    margin-right:3px;
    flex: 0.6;
  }
}

.grid-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=email], [type=text], select, textarea {
  width: 100%;
  padding: 12px;
  max-width: 900px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.col-wide {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-narrow {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

#city{
  width: 98%;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: center;
}

#cityList{
  align-self: center;
  font-size: 10em;
}

#submit-btn {
   
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

@media screen and (max-width: 600px) {
  .col-narrow, .col-wide, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

#myForm{
  display: none;
}