@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
html,
body {
  height: 100%;
  width: 100%;
  /* overflow: auto; */
}
body{       /*EXP */
  display: flex;  /*EXP */
  flex-direction: column; /*EXP */
  margin: 0;
}

header {
  background-color: whitesmoke;
  font-family: Roboto, sans-serif;
  color: black;
  flex: 1; /*EXP    */
  display: flex;
/*  flex-direction: column; /*EXP */  
  align-items: center;  
}
/* #mid{
  flex: 1;
  display: flexk
} */
#name {
  flex: 1;  /*EXP    */
  display: flex;  /*EXP    */
  font-weight: 700;
 /*  width: 70px; */
 width: auto;
  margin: 10px 20px 10px 0;
  font-size: 2.5em;
}
#logo {
  flex: 0.2;
  display: flex;
  width: auto;
  justify-self: right ;
  margin-right: 7px;
  font-size: 2.5em;
  padding-left: 15px;
}
#pics {
  flex: 4;
  display: flex;
}

#searchForm{
  flex: 1;
  display: flex;
  margin-left: 4px;
}
/*div.menus {   //what is menus?
  flex: 1;
  display: flex;
  margin: 57px;
  padding: 0 15px;
  justify-content: space-around;
} 
.menus p {
  padding: 0 35px;
  font-size: 1.2em;
} */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  align-items: center;
  max-width: fit-content;
  padding-right: 10px;
  margin-left: 10px;
  justify-content: space-between;
}

.right span{
  flex: 1;
  margin-bottom: 8px;
}

#button1 {
  margin-right: 5px;
}
#topmost {
  flex: 1;
  display: flex;  /*EXP */
  /*flex-direction: column; /*EXP */
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  color: burlywood;
  background-color: slategray;
}

/* body {
  margin: 0;
} */
main {
  flex: 1;
  display: flex;
  font-family: 'Merriweather', serif;
  max-height: fit-content;
}
nav {
  width: 120px;
  height: 70%;
  background-color: lightskyblue;
  margin-right: 10px;
  margin-bottom: 25px;
  border: 1px solid #86c4ba;
}
main nav div {
  text-align: center;
  font-size: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
}
main nav div p {
  margin: 5px;
  font-size: 20px;
  color: rosybrown;
}
#mainContainer {
/*  display: none;
  display: flex;  */
  color: #595238;
  background-color: #f5f1da;
  margin-right: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column; 
/*  overflow: auto;   */
}
#first {
  flex: 1;
  display: flex;
}
#one-four {
  display: flex;
  flex-direction: column;
}
#one-four > div {
  flex: 50%;
  margin: 15px;
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
  max-height: fit-content;
}
#two-four {
  display: flex;
  flex-direction: column;
}
#two-four > div {
  flex: 50%;
  margin: 15px;
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
  max-height: fit-content;
}

#second {
  flex: 1;
  display: flex;
}
#three-four {
  display: flex;
  flex-direction: column;
}
#three-four > div {
  flex: 50%;
  margin: 15px;
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
  max-height: fit-content;
}
#four-four {
  display: flex;
  flex-direction: column;
}
#four-four > div {
  flex: 50%;
  margin: 15px;
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
  max-height: fit-content;
}
/* */
#third {
  flex: 1;
  display: flex;
}
#five-four {
  display: flex;
  flex-direction: column;
}
#five-four > div {
  flex: 50%;
  margin: 15px;
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
  max-height: fit-content;
}
#six-four {
  display: flex;
  flex-direction: column;
}
#six-four > div {
  flex: 50%;
  margin: 15px;
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
  max-height: fit-content;
}
footer {
/*   height: 25%; */
  display: flex;  /*added*/
  height: 150px;
  display: flex;
  font-family: 'Oswald', sans-serif;
  background-color: #cfefcf;
  /* justify-content: space-between; */
}
footer div p {
/*  flex: 1;  */
 /*  margin-top: 65px;
  margin-right: 35px; */
  margin-top: 35px ;   /*added*/
  padding: 10px;   /*added*/
  font-style: oblique;
  font-size: 1.5em;
}
/* #center{

} */

.social-media {
  flex: 0.8;
  font-size: 4em;
  margin: 10px;   /* 30px */
  padding: 5px;
  display: flex;
  justify-content: space-around;
}


#forForm{
  flex: 0.35;  
  
  margin-left: 45px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: right;
}

form{
 /* flex: grid;   */
  width: 100%;
  /* background-color: honeydew; */
}

input[type=email], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit]{
  background-color: lightgreen;
}


/*.social-media > div {
   flex: 0.15; 
} */
#option1 {
  font-size: 0.6em;
}
#option {
  flex: 1;
}
#optionM {
  flex: 1;
  margin: 10px;
  padding: 5px;
  border: 1px solid #005086;
  background-color: #0f4c75;
  color: gold;
  display: flex;
  display: none;
}
#optionM > div {
  flex: 1;
}
#optionF {
  flex: 1;
  margin: 10px;
  padding: 5px;
  border: 1px solid #005086;
  background-color: #0f4c75;
  color: gold;
  display: flex;
  display: none;
}
#optionF > div {
  flex: 1;
}
#optionC {
  flex: 1;
  margin: 10px;
  padding: 5px;
  border: 1px solid #005086;
  background-color: #0f4c75;
  color: gold;
  display: flex;
  display: none;
}
#optionC > div {
  flex: 1;
}
